@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hamburger.open .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}